
body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.app {
    padding: 20px;
}
.logo {
    width: 100px;
    margin: 20px auto;
    display: block;
}
